@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #f1f2f6;
}

html{
  scroll-behavior: smooth;
}

@layer utilities {
  .customContainer {
    @apply w-[95%] md:w-[90%] lg:w-[85] m-auto;
  }
  .title{
    @apply text-secondary font-montserrat py-20 text-center uppercase font-bold text-5xl underline
  }
  .navItemDesing {
    @apply  py-2 mx-6 relative duration-500 cursor-pointer
  }
  .actionButtonDesing{
    @apply py-2 px-8 border  border-secondary rounded-3xl bg-secondary  text-white font-bold hover:text-secondary hover:bg-transparent transform hover:scale-110 duration-500 font-montserrat 
  }
  .overlay {
    @apply absolute top-0 left-0 w-full h-full bg-black opacity-0 transition-opacity duration-500
  }
}

.banner_container::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/images/bannerBg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(3px);
  z-index: -5;
}

.banner_container::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: -2;
}

.navItemDesing:hover::before{
  content: "";
  position: absolute;
  z-index: 100;
  bottom: -10px;
  width: 100%;
  height: 4px;
  background-color: #45aaf2;
  border-radius: 10px;
  transition: 0.5s;
}

 .active::before {
  content: "";
  position: absolute;
  z-index: 100;
  bottom: -10px;
  width: 100%;
  height: 4px;
  background-color: #45aaf2;
  border-radius: 10px;
  transition: 0.5s;
}

.projectCard:hover .overlay{
    opacity: 0.5;
}
.projectCard:hover .linkContainer{
  top: 50%;
}